@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

.mainContainer {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: -webkit-linear-gradient(to right, #6441a5, #2a0845);
  background: linear-gradient(to right, #6441a5, #2a0845);
}

.mainContainer::before {
  content: "";
  position: absolute;
  height: 250px;
  width: 250px;
  background: linear-gradient(90deg, #2e1e45, #00C1C2, #2a0845);  
  left: 10%;
  border-radius: 50%;
  filter: blur(100px);
}

.mainContainer::after {
  content: "";
  position: absolute;
  height: 250px;
  width: 250px;
  background: linear-gradient(90deg, #2e1e45, #00C1C2, #2a0845);
  bottom: 50%;
  right: 10%;
  border-radius: 50%;
  filter: blur(100px);
}


.inputBox {
  position: relative;
  width: 490px;
  display: flex;
  padding: 1rem;
  height: 80px;
}

.inputBox input {
  width: 400px;
  padding: 11px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
}

.inputBox span {
  position: absolute;
  background-color: #FFF;
  left: 20%;
  padding: 5px;
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  color: #2e1e45;
  text-transform: uppercase;
  transform: translateY(-20px);
}

.container {
  display: flex;
  gap: 0.1rem;
  border: 1px solid #FFF;
  border-radius: 5px;
  
}

.inputBox .pesquisa {
  background-color: #FFF;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputBox .pesquisa p {
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 3px solid #2e1e45;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.inputBox .pesquisa p::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 10px;
  background-color: #2e1e45;
  top: 10px;
  left: 100%;
  transform: rotate(130deg);
}
