.containerS {
    min-height: 70vh;
    position: relative;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: -webkit-linear-gradient(to right, #6441a5, #2a0845);
    background: linear-gradient(to right, #6441a5, #2a0845);
}

.containerS::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #00C1C2, #E75590);
    left: 10%;
    border-radius: 50%;
    filter: blur(90px);
    width: 550px;
    height: 550px;
}

.containerS::after {
    content: "";
    position: absolute;
    background: linear-gradient(to left, #759, #E75590);
    left: 70%;
    top: 10%;
    border-radius: 50%;
    filter: blur(90px);
    width: 550px;
    height: 550px;
}



.containerPesquisa .inputPesquisa {
    width: 450px;
 
}